

.bg{
  background-image:
    /* linear-gradient(black, black), */
    
    url('../garments/boxes/background_image.jpg');
    /* filter: blur(1px); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -91px;
}

.splash-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;

}

.splash-ctr-txt {
    font-family: sans-serif;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top:50px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #282a1a;
    box-sizing: border-box;
}

.splash-left-box{
    /* display: flex; */
    /* border: 2px solid black; */
    border-radius: 15px;
    background-color: transparent;
    width: 350px;
    height: 442px;
    padding: 20px 25px 0px 25px;
    font-family: sans-serif;
    background-color: #737563;
    color: white;
    line-height: 20px;
}
.splash-right-box {
display: flex;
/* border: 2px solid black; */
border-radius: 15px;
width: 350px;
height: auto;
margin-left: 100px;
padding: 50px 25px 0px 25px;
background: #a2a58e
/* background-color: white; */
}

.footer {
    text-align: center;
    color: white;
    margin-top: 200px;
    font-family: sans-serif;
}

.splash-left-box h3 {
    text-align: center;
    padding: 19px;      
}

.splash-left-box h1 {
    text-align: center;
    padding: 40px;      
}