.profile-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: saturation;
}

.garment-box-page {
  display: flex;
  flex-wrap: wrap;
  width: 49vw;
  justify-content: center;
}

.garment-display-item {
  display: flex;
  flex: 1 0 25%; /* explanation below */
  margin: 30px;
  height: 300px;
  max-width: 27%;
  min-width: 200px;
  /* background-color: rgba(255, 255, 255, 0.198); */
  background-color: #64665657;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  border: 1px solid black;
  transition: 0.1s;
}

.garment-display-item:hover {
  cursor: pointer;
  opacity: 1.0;
  transition: 0.2s;
  background-color: #646656;
}



.wardrobe {
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    display: flex;
    text-shadow: 2px 2px #212527;
}

.tops-n-bottoms {
  margin-top: 95px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px #212527;
}

.garment-img{
  width: 50%;
  height: 50%;
  min-width: 30%;
  min-height: 30%;
  margin: 0 auto;
  transition: 0.075s;
}

.image-box {
  height: 200px;  
}


.wardrobe-item-text {
  margin: 20px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #212527;
}