.outfit-garment-display-item{
  display: flex;
  flex-shrink: 1;
  min-width: 210px;
  background-color: rgba(255, 255, 255, 0.198);
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: space-bewtween;
  overflow: hidden;
  border: 1px solid black;
  margin: 20px;
}

.outfit-image-box{
    display: flex;
    flex-direction: column;
    max-width: 210px;
    max-height: 480px;
}

.outfit-garment-img{
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  height: 100%;
  min-width: 30%;
  min-height: 30%;
  margin: 0 auto;
  transition: 0.075s;
}

.outfit-image-box div{
    box-sizing: border-box;
    min-width: 23%;
}
