.create-page {
  background-image:
    /* linear-gradient(black, black), */
    
    url('boxes/background_image.jpg');
    /* filter: blur(1px); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: saturation;
  display: flex;
  justify-content: space-between;
}

.create-form {
  text-align: center;
  border: 2px solid black;
  height: 100vh;
  width: 300px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  background-color: #646656c4;
}

.garment-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.garment-checkbox:hover {
  cursor: pointer;
}

label {
  color: #282a1a;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Timmana', sans-serif;
}

.garment-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}

.garment-item {
  flex: 1 0 20%; /* explanation below */
  margin: 30px;
  height: 300px;
  max-width: 21%;
  background-color: #64665657;

  overflow: hidden;
  border-radius: 15px;
  text-align: center;
}

.demo-item-container {
  width: 100%;
}
.demo-item {
  background-color: #64665657;

  height: 420px;
  width: 50%;
  border-radius: 15px;
  margin: 30px;
  margin-left: 400px;

  text-align: center;
  overflow: hidden;
  
}

.radios {
  display: flex;
  justify-content: space-evenly;
  margin: 25% auto;
}

.form-left {

}

.form-right {

}

.color-btn {
  border-radius: 15px;
  height: 30px;
  width: 200px;
  background-color: #a2a58e;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-indent: 40%;
  font-size: 20px;
}

.color-btn:hover {
  /* background-color: #737563; */
  cursor: pointer;
}

.clothing-input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25% auto;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  text-indent: 10%;
  font-size: 20px;
}
.add-submit-btn {
  border-radius: 15px;
  height: 30px;
  width: 50%;
  background-color: #282a1a;
  margin-top: 20px;
  padding: 7px;
  color: white;
  font-weight: bold;
  font-family: 'Timmana', sans-serif;
}

.add-submit-btn:hover {
  cursor: pointer;
  background-color:#786f65;
  color: black;
}

