.create-page {
  background-image: url("https://cdn.wallpapersafari.com/85/69/OdWKh6.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.create-form {
  text-align: center;
  border: 2px solid black;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.198);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
}

.garment-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #0893cc;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Timmana', sans-serif;
}

.garment-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}

.garment-item {
  flex: 1 0 20%; /* explanation below */
  margin: 30px;
  height: 300px;
  max-width: 23%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.demo-item {
  background-color: white;
  height: 300px;
  width: 100%;
  border-radius: 15px;
  margin: 30px;
  text-align: center;
}

.radios {
  display: flex;
  justify-content: space-evenly;
  margin: 25% auto;
}

.form-left {

}

.form-right {

}

.color-btn {
  border-radius: 15px;
  height: 30px;
  width: 200px;
  background-color: #0893cc;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-indent: 40%;
  font-size: 20px;
}

.color-btn:hover {
  
}

.clothing-input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25% auto;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  text-indent: 10%;
  font-size: 20px;
}