.profile-page {
  background-image: url("https://cdn.wallpapersafari.com/85/69/OdWKh6.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flex-profile-page {
  display: flex;
}

.garment-box-page {
  display: flex;
  flex-wrap: wrap;
  width: 49vw;
}

.garment-display-item {
  flex: 1 0 25%; /* explanation below */
  margin: 30px;
  height: 300px;
  max-width: 27%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.wardrobe {
  margin-left: 30px;
  font-family: 'Timmana', sans-serif;
  color:  #0893cc;
  font-size: 40px;
}

.tops-n-bottoms {
  margin-top: 95px;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  color: #008a2d;
  font-size: 30px;
}

.pants {
  border-left: .5px solid white;
}

.shirts {
  border-right: .5px solid white;
}
