.profile-page {
  background-image: url("https://cdn.wallpapersafari.com/85/69/OdWKh6.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flex-profile-page {
  display: flex;
}

.garment-box-page {
  display: flex;
  flex-wrap: wrap;
  width: 49vw;
}

.garment-display-item {
  display: flex;
  flex: 1 0 25%; /* explanation below */
  margin: 30px;
  height: 300px;
  max-width: 27%;
  background-color: rgba(255, 255, 255, 0.198);
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}



.wardrobe {
      justify-content: center;
    margin-left: 30px;
    font-family: 'Timmana', sans-serif;
    color: #008a2d;
    font-size: 40px;
    display: flex;
}

.tops-n-bottoms {
  margin-top: 95px;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  color: #008a2d;
  font-size: 40px;
}

.pants {
  border-left: .5px solid white;
}

.shirts {
  border-right: .5px solid white;
}

.garment-img{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  transition: 0.075s;
}

.garment-img:hover {
  width: 120%;
  height: 120%;
  transition: 0.075s;
}

.image-box {
  height: 200px;  
}


.wardrobe-item-text {
  margin: 20px;
  color: #0893cc;
  font-weight: bold;
}