.outfits-page{
    height: 100%;
    min-height: 100%;
}

.wardrobe{
    margin-top: 50px;
}
.flexer{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}