.main{
    margin-top:91px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image:
    url('garments/boxes/background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* position: fixed; */
    
  background-attachment: fixed;    
}
#root{
    height: 100%;
    min-height: 100%;
}