.picker-page {
  background-image: url("https://cdn.wallpapersafari.com/85/69/OdWKh6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 1200px;
}

.picker-radios {
  padding-top: 250px;
  text-align: center;
  border: 2px solid black;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.198);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
}

.picker-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.outfit-generator-container {
  margin-left: 350px;
  display: flex;
  flex-direction: row;
}

.top-item {
  height: 300px;
  width: 300px;
}

.show-img {
  height: 50%;
  width: 50%;
}

.outfit-input{
  display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin: 10% auto;
 height: 30px;
 width: 200px;
 border-radius: 15px;
 text-indent: 10%;
 font-size: 20px;
}

.outfit-save-btn {
  border-radius: 15px;
  height: 30px;
  width: 300px;
  background-color: #008a2d;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}
 /* .show-container{
  display: flex;
  margin-left: 100px;
}

.picker-radios > label{
      padding-right: 50px;

} */
/* .picker-picker{
  display: flex;
  margin-left: 100px;
  padding-right: 100px;
} */

.asshole-div {
  margin: 0;
  padding: 0;
}
/* .picker-menu{
  padding: 30px;
  margin-right: 300px;
}
select{
    overflow:auto;
}  */

h2 {
  color: white;
  font-size: 20px;
  font-family: 'Timmana', sans-serif;
}