.picker-page {
  background-image:
    /* linear-gradient(black, black),
     */
    url('../garments/background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  top:0;
  bottom:0;
  background-blend-mode: saturation;

  
}

/* .picker-page-overlay{
  position: absolute;
  background-color: rgba(20, 20, 20, 0.8);
  top:0;
  bottom:0;
  height: 100%;
  width: 100%;
  pointer-events:none;
  z-index: 5;
} */

#link-to-outfits:hover{
  cursor: pointer;
  color: lightgray;
}
#link-to-outfits{
  color:white;
  text-decoration: none;
  text-decoration-line: none;
}

.link-to-outfits{
  font-weight: bold;
  font-family: 'Timmana', sans-serif;
  font-size: 36px;
  text-decoration-line: none;
  margin-bottom: 50px;
}
.picker-radios {
  padding-top: 160px;
  text-align: center;
  border: 2px solid black;
  height: 100vh;
  width: 300px;
  background-color: #64665657;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
}

.picker-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}



.top-item {
  height: 300px;
  width: 300px;
}

.show-img {
  height: 50%;
  width: 50%;
}

.outfit-input{
  display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin: 10% auto;
 height: 30px;
 width: 200px;
 border-radius: 15px;
 text-indent: 10%;
 font-size: 20px;
}

.outfit-save-btn {
  border-radius: 15px;
  height: 30px;
  width: 50%;
  background-color: #3b3c32;
  padding: 7px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-family: 'Timmana', sans-serif;
}
.outfit-save-btn:hover{
  cursor: pointer;
  background-color: #262911;
}

/* Pickr main box styling */
.outfit-generator-container {
  margin-left: 350px;
  display: flex;
  flex-direction: row;
}

.outfit-selector-top-bot{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 33%;
  text-align: -webkit-center;
}

 .picker-menu{
  width: 100px;
  height: 250px;
}


.outfit-selector-outfits{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100vh;
  width: 33%;
  margin: 0 auto;
}

.top-item{
  align-self: center;
  /* margin-left: -50px; */
  text-align: center;
}

.bottom-item{
  align-self: center;
  margin-top: 60px;
  text-align: center;
}

.outfit-selector-attributes{
  height: 100vh;
  width: 33%;
}
.outfit-selector-attributes h3:first-child {
  text-decoration: underline;
  margin: 0;
}

.outfit-selector-attributes h3 {
  color: #282a1a;
  font-family: 'Timmana', sans-serif;
  font-size: 29px;
  letter-spacing: 2px;
  text-align: center;
}
.outfit-selector-attributes p{
  color: #a2a58e;
  text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
    1px 1px 0 black;
  font-size: 22px;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  letter-spacing: 2px;
}

 /* .show-container{
  display: flex;
  margin-left: 100px;
}

.picker-radios > label{
      padding-right: 50px;

} */
/* .picker-picker{
  display: flex;
  margin-left: 100px;
  padding-right: 100px;
} */

/* .asshole-div {
  margin: 0;
  padding: 0;
} */
/* .picker-menu{
  padding: 30px;
  margin-right: 300px;
}
select{
    overflow:auto;
}  */

h2 {
  color: #282a1a;
  font-size: 20px;
  font-family: 'Timmana', sans-serif;
  text-align: center;
}