body{
    margin: 0;
}

.bar div{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #008a2d;
}

.left-div{
    justify-content: flex-start;
    padding: 15px 0px 0px 15px;
    /* margin-right: 50px; */
    
}
.center-div{
    justify-content: center;
    align-content: center;
}

#logo{
    font-family: 'Timmana', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
}
#logo-pickr{
    font-family: 'Timmana', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    /* margin-left: 50px; */
    /* top: 15px; */
    /* position: relative; */
}

.right-div{
    justify-content: flex-end;
}

.profile-icon{
    background-image: url('./profileuser.jpg');
    background-size: contain;
    max-width: 55px;
    max-height: 55px;
    /* background-position: 0px; */
    border-radius: 10px;
    margin: 15px;
}

.profile-icon:hover{
    cursor: pointer;
}

.contact-us-box{
    display: flex;
}


.contact-us{
    justify-content: flex-end;
    font-family: 'Timmana', sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px 25px;
}


.contact-us span:hover{
    justify-content: flex-end;
    box-sizing: content-box;
    cursor: pointer;
}

#Pants {
    text-decoration: none;
    margin-right: 15px;
    
}

#Shirts {
    text-decoration: none;
}

#Pants img {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

#Shirts img {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

#Pants:hover {
    color: lightgrey;
}

#Shirts:hover {
    color: lightgrey;
}

.navbar{
   position:fixed;
   overflow:hidden;
   top:0;
   height: 91px;;
}