.bar div{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #008a2d;
}


.center-div{
    justify-content: center;
}

#logo{
    font-family: 'Timmana', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-decoration: none;
    color: #ffffff;
}

.right-div{
    justify-content: flex-end;
}