body{
    margin: 0;
}

.bar div{
    display: flex;
    flex-direction: row;
    background-color: #3b3c32;
}

.left-div{
    justify-content: flex-start;
    padding: 15px 0px 0px 15px;
    /* margin-right: 50px; */
    font-size: 20px;
    /* width: 33vw; */
}

.center-div{
    justify-content: center;
    align-content: center;
    width: 33vw;
}

#logo{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    transition: 0.1s;
}


#logo:hover {
    color: lightgray;
    transition: 0.1s;
}

#logo-pickr{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 25px;
    margin-right: 25px;
    width: 100px;
    /* top: 15px; */
    /* position: relative; */
    transition: 0.1s;
}

#logo-pickr:hover{
    color: lightgray;
    transition: 0.1s;
}

.right-div{
    justify-content: flex-end;
    /* width: 20vw; */
}

.profile-icon{
    background-size: cover;
    width: 55px;
    height: 55px;
    /* background-position: 0px; */
    border-radius: 10px;
    margin: 15px;
}

.profile-icon img {
    border-radius: 10px;
}

.profile-icon:hover{
    cursor: pointer;
}


#nav-link-to-outfits{
    /* justify-content: flex-end;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 23px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px 25px 0px 50px;   */
        font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    width: 100px;
    transition: 0.1s;
}

#nav-link-to-outfits:hover{
    color: lightgray;
    transition: 0.1s;
}

.contact-us-box{
    display: flex;
}


.contact-us{
    justify-content: flex-end;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0px 10px 0px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px 25px;
}


.contact-us span{
    transition: 0.1s;
}
.contact-us span:hover{
    color: lightgrey;
    cursor: pointer;
    transition: 0.1s;
}

#pants {
    text-decoration: none;
    margin-right: 15px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 700;
    transition: 0.1s;
}

#shirts {
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    transition: 0.1s;
}

#pants img {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

#shirts img {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

#pants:hover {
    color: lightgrey;
    transition: 0.1s;
}

#shirts:hover {
    color: lightgrey;
    transition: 0.1s;
}

.navbar{
   position:fixed;
   overflow:hidden;
   top:0;
   height: 91px;
   z-index: 1;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

#picker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

#Shirts-img {
    align-self: center;
    margin-top: 10px;
    height: 25px;
    width: 20px;
    margin-left: 20px;
}

#Pants-img {
    /* margin-top: 10px; */
    align-self: center;
    height: 25px;
    width: 28px;
    margin-left: 20px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #008a2d;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  margin-top: 7px;
}

.pickr-text{
    font-size: 14px;
    margin: 0;
}

.tooltip {
    font-size: 20px;
    margin: inherit;
    text-align: center;
}

.mouse {
    height: 30px;
    width: 30px;
}