.wardrobe-picker-link{
    text-align: center;
    margin-top: 0px;
    margin: 50px auto;
    /* width: 150px; */
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    top: -40px;
}
.wardrobe-picker-link>#logo-pickr{
    font-size: 23px;
}
.wardrobe-picker-link>#logo-pickr:hover{
    font-size: 27px;
}
.wardrobe{
    padding-top: 25px;
    padding-bottom: 0px;
}
.flex-profile-page{
    position: relative;
    top: -40px;
}