.wardrobe{
    padding-top: 25px;
    /* margin-bottom: -50px; */
}
.flex-profile-page{
    position: relative;
    top: -100px;
}
.tops {
  margin-top: -25px;
}
.pants {
  margin-top: -25px;
}
.pants > .garment-box-page {
  border-left: 3px solid white;
}