.container{
    display: flex;
    flex-direction: row;
}

.details{
    flex-direction: row;
    flex-grow: 1;
}

.details-display{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.details-display span{
    margin-top: 100px;
    width: 200px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: row;
    padding: 5px;
    background-color: #212527;
    font-family: 'Timmana', sans-serif;
    color: white;
    text-align: center;
}