.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-box{
    width: 380px;
    height: 400px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.modal-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close-modal{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}

.modal-title-box{
    margin: 20px;
    font-family: sans-serif;
    font-size: 28px;
    
}

.modal-body{
   grid-template-columns: auto auto;
   grid-template-rows: auto auto; 
}

.modal-body button{
  border-radius: 15px;
  height: 30px;
  width: 300px;
  background-color: #008a2d;
  margin-top: 20px;
  color: white;
  font-weight: bold;

}

.modal-body {
    margin: 10px;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 50% 50%;
}

.github{
    max-width: 50px;
}

.github:hover{
    opacity: 0.85;
}

.linkedin{
    max-width: 50px;
}

.linkedin:hover{
    opacity: 0.85;
}

.group-member{
    align-content: center;
}

.group-member img{
    margin: 10px;
}

.group-member div{
    align-content: center;
    font-family: sans-serif;
    font-size: 20px;
}

div.names{
    display: flex;
    justify-content: center;
}

.icons{
    margin-left: px;
}



#Sam{
    margin: auto auto;
    height: 140px;
}
#Nick{
    margin: auto auto;
    height: 140px;
}
#Marshall{
    margin: auto auto;
    height: 140px;
}
#Ian{
    margin: auto auto;
    height: 140px;
}

.close-modal-button{
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background-color: #212527;
  color: white;
  font-weight: bold;
}